html {
   color: #ccc;
}

.list {
  background-color: black;
  height: 100vh;
}

.title {
 text-align: center;
 font-size: 16px;
 font-weight: lighter;
}

.filter {
margin: 0 3px;
} 

.main {
width: 100%;
}

.navigation {
  position: absolute;
  background-color: #212121;
/*  border: solid black;
*/  text-align: center;
  width: 100%;
  z-index: 1;
  color: #ccc;
  display: flex;
  margin: 0;
}

.button {
  background-image: url('./menu.png');
 /* width: 100%;*/
  background-color: transparent; 
  color: white;
  padding: 3px;
border: none;
width: 24px;
height: 24px;
margin: 5px;
cursor: pointer;
outline: none;
}

ul {
  list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 12px;
}

li {
  margin-bottom: 20px;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.map {
height: 100vh;
margin-top: 34px;
/*border: solid black;
*/
margin-bottom: 0;
width: 100%;
}

.info {
  color: red;
}